<h2 class="page-header">Search Book</h2>
<form action="/books" method="GET">

  <div class="form__row">
    <div class="form__item">
      <label>Title</label>
      <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
  </div>

  <div class="form__row">
    <div class="form__item">
      <label>Published After</label>
      <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>

    <div class="form__item">
      <label>Published Before</label>
      <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
    
    <div class="form__item form__item--end">
      <button class="btn btn-primary" type="submit">Search</button>
    </div>
  </div>
</form>

 <%- include('../partials/bookGrid', { books: books, large: true })%>