:root{
    --form-label-font-size: 1.2rem;
    --form-input-background-color: hsla(var(--color-base-hue), 100%, 31%);
    --form-input-border-color: hsla(var(--color-base-hue),100%, 50%);
    --form-input-border-color-light: hsla(var(--color-base-hue),100%, 80%);

}

.form__row{
    display: flex;
    margin-bottom: .5rem;
}

.form__row--end{
    justify-content: flex-end;
}

.form__item{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    flex-grow: 1;
    flex-basis: 0;
}

.form__item:first-child{
    margin-left: 0;
}

.form__item-no-grow{
    flex-grow: 0;
}

.form__item > label{
    font-size: var(--form-label-font-size);
    margin-bottom: .25rem;
    margin-left: .25rem;
}

.form__item input, .form__item select, .form__item textarea{
    height: 2rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    border: 1px solid var(--form-input-border-color);
    background-color: var(--form-input-background-color);
    color: var(--color-text-light);
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    outline: none;
}

.form__item textarea {
    height: 100%;
    resize: none;
}

.form__item select option {
    background-color: black;
}

.form__item input:focus, .form__item select:focus, .form__item textarea:focus{
    border-color: var(--form-input-border-color-light);
}

.filepond--root{
    font-family: "Poiret One", Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.filepond--panel-root{
    background-color: var(--form-input-background-color);
    border: 1px solid var(--form-input-border-color);
}

.filepond--drop-label{
    color: var(--color-text-light);
    font-size: inherit;
}