:root{
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}

.header__title{
    color: var(--color-text-light);
    text-decoration: none;
    font-size: var(--nav-title-font-size);
    font-weight: var(--nav-title-font-weight);
}

.header__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.header__nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header__nav li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-weight: var(--nav-link-font-weight);
    padding: 1rem;
}

.header__nav li a:hover, .header__title:hover{
    color: white;
}