
<h2 class="page-header">New Author</h2>

<form action="/authors" method="POST">
  <%- include('_form_fields') %>
  <div class ="form __row form__row--end btn__row">
    <a class="btn btn__danger"  href="/authors">Cancel</a>
    <button class="btn btn__primary" type="submit">Create</button>
  </div>
</form>